<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script type="text/javascript">
      function move(){

      }
  </script>
  <body>
    <p>Welcome to <%= title %></p>
   <form action="login">
     <input type="text" name = "info"></input>
     <input type="submit" value="입장"></input>
   </form>
  </body>
</html>
